<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
</head>
<body>
<div class="container">

<header>

<%= image_tag("boonfriend.png", :alt => "Boobuddy", :class => "round") %>

<div id="navigation" class="boomenu">
<ul>
	<li><%= link_to "Home", root_path %>
		<ul>
			<li><div id="links"><%= link_to "Home", root_path %></div></li>
			
			<li><a href="www.google.com">Google sub</a>
		</ul>
	</li>
	<li><a href="www.google.com">Google</a></li>
	<li><%= link_to "About", about_path %></li>

	<li><%= link_to "Contact", contact_path %></li>

</ul>
</div>
</header>

<section class="round">
<%= yield %>
</section>

<%= debug(params) %>

</div>
</body>
</html>
