<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'style', :media => 'screen' %>
</head>
<body>
<div class="container">

<header>

<%= image_tag("boonfriend.png", :alt => "Boobuddy", :class => "round") %>

<div id="navigation" class="boomenu">
<ul>
	<li><%= link_to "Home", root_path %>
		<ul>
			<li><div id="links"><%= link_to "Home", root_path %></div></li>
			
			<li><a href="www.google.com">Google sub</a>
		</ul>
	</li>
	<li><%= link_to "About", about_path %></li>

	<% if signed_in? %>
	<li><%= link_to "Profile", user_path(current_user) %></li>
	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
	<% end %>
	<li><%= link_to "Contact", contact_path %></li>
	<% if signed_in? %>
	<li><%= link_to "Sign out", signout_path %></li>
	<% else %>
	<li><%= link_to "Sign in", signin_path %></li>
	<% end %>
</ul>
</div>
</header>

<section class="round">
<%= yield %>
</section>


</div>
</body>
</html>
